body {
     font-family: Arial;
    font-family: "Edu NSW ACT Cursive", cursive;
    background: #111;
    color: white;
    text-align: center;
    margin: 0;
}

header {
    background: #222;
    padding: 20px;
}

.creditos {
    padding: 30px;
}

.intro {
    opacity: 0.7;
    margin-bottom: 20px;
}

.bloque {
    background: #1a1a1a;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    transition: 0.3s;
}

.bloque:hover {
    transform: scale(1.05);
    background: #333;
}

.final {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.6;
}

.volver a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background: #ff4d6d;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
footer{
    background: #1f2c3a;
    padding: 100px 20px;
    text-align: center;
    color: white;
    background-image: url(img/Ruido.png);
}

.footer-contenido{
    max-width: 900px;
    margin: auto;
}

.footer-logo{
    width: 120px;
    margin-bottom: 10px;
}

.footer-titulo{
    font-size: 24px;
    margin: 10px 0;
}
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.redes img{
    width: 80px;
    transition: 0.3s;
}

.redes img:hover{
    transform: scale(1.2);
}
.detalle {
    display: block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 5px;
}
.oculto-texto {
    display: none;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.estrellas span{
    font-size: 30px;
    cursor: pointer;
    color: gray;
    transition: 0.3s;
}
.estrellas span:hover{
    color: gold;
}
.compartir button{
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.compartir button:hover{
    background: #0056b3;
}
.volver a{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background: purple;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.boton_menu{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #273cf5;
    color: white;
    box-shadow: 4px, 4px, 4px, 0px rgba(0, 0, 0, 0.5);
    /*background: linear-gradient(-45deg, rgba(#273cf5))2% rgba(106, 17, 147, 1) 100%;*/
    background: purple;
}

.boton_menu :hover{
    color: white;
}
.menu{
    width: 70px;
    margin-bottom: -40px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
button{
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    max-width: 200px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 30px;
    border-color: white;
    margin-bottom: 10px;
}
button:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
    max-width: 300px;
}

button:active{
    letter-spacing: 3px;
    background-color: hsl(261deg, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}