body{
    font-family: Arial;
    font-family: "Edu NSW ACT Cursive", cursive;
    background:black;
    color:lime;
    padding:20px;
}

/* ocultos */
#secreto{
display:none;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:200px;
}

#mensaje{
display:none;
text-align:center;
margin-top:20px;
color:white;
}
.contenedor-secreto {
    position: fixed;
    top: 50%;
    left: 65%; /* lo movemos más a la derecha */
    transform: translate(-50%, -50%);
}

.img-oculta {
    width: 350px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px lime;
}

/* texto encima */
.texto-img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: lime;
    font-family: monospace;
    font-size: 12px;
    background: rgba(0,0,0,0.6);
    padding: 5px;
    border-radius: 5px;
}
footer{
    background: #1f2c3a;
    padding: 60px 20px;
    text-align: center;
    color: white;
    background-image: url(img/Ruido.png);
}
.footer-contenido{
    max-width: 900px;
    margin: auto;
}

.footer-logo{
    width: 120px;
    margin-bottom: 10px;
}

.footer-titulo{
    font-size: 24px;
    margin: 10px 0;
}
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.redes img{
    width: 80px;
    transition: 0.3s;
}

.redes img:hover{
    transform: scale(1.2);
}